
html {
    background-color:rgb(151, 193, 240);
}
body{
    background-color:whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px;
    color:black;
    border-top: 15px groove aqua;
}


button{
     display:center inline-block;
     padding:0.3em 1em;
     margin:0 0.2em 0.2em 0;
     border:0.15em groove black;
     border-radius:3em;
     box-sizing: border-box;
     font-family: helvetica;
    font-size: 32px;
     color: white;
     text-align:center;
     transition: all 0.1s;
}
.button1:hover{
     border-color: white;
    }
    